# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
getdata-data-DATA.gov_NGAP.xlsx
getdata-data-restaurants.xml
*.csv
Project/getdata-projectfiles-UCI HAR Dataset.zip
Project/UCI HAR Dataset/activity_labels.txt
Project/UCI HAR Dataset/features.txt
Project/UCI HAR Dataset/features_info.txt
Project/UCI HAR Dataset/README.txt
Project/UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/body_acc_y_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/body_gyro_z_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/total_acc_x_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt
Project/UCI HAR Dataset/test/Inertial Signals/total_acc_z_test.txt
Project/UCI HAR Dataset/test/subject_test.txt
Project/UCI HAR Dataset/test/X_test.txt
Project/UCI HAR Dataset/test/y_test.txt
Project/UCI HAR Dataset/train/Inertial Signals/body_acc_x_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/body_acc_y_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/body_gyro_x_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/body_gyro_y_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/body_gyro_z_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/total_acc_x_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt
Project/UCI HAR Dataset/train/Inertial Signals/total_acc_z_train.txt
Project/UCI HAR Dataset/train/subject_train.txt
Project/UCI HAR Dataset/train/X_train.txt
Project/UCI HAR Dataset/train/y_train.txt
